.container {
    width: 100%;

}

.line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.line p {
    font-size: 1.4rem;
    font-weight: 700;
}

.line p:nth-child(2) {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

.arrow {
    width: 8px;
    height: 8px;
    background-color: #000;
    display: inline-block;
    margin-left: 5px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    transition: 0.2s;
    transform-style: preserve-3d;
}

.down {
    transform: scaleY(-1);
}