.container {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.amount {
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.3); */
}

.amount label {
    font-weight: 600;
    font-size: 1.6rem;
}

.amount input {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.6rem 1rem;
    width: 50px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: 0.5s;
}

.amount input:focus {
    outline: none;
    background-color: var(--color-primary-light-1);
}

.units {
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.6rem 1rem;
    padding-right: 2rem;
    background-color: #fff; 
    transition: 0.3s;
}

.units:focus {
    outline: none;
}

.active {
    background-color: #E6ECF0;
}

.units > * {
    background-color: #fff !important;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 0.4rem 0;
    font-size: 2.4rem;
    font-weight: 700;
    transition: 0.5s;
    font-family: inherit;
}

.input:focus {
    background-color: var(--color-primary-light-1);
}

.btn {
    width: 100%;
    font-size: 2.4rem;
    border-radius: 15px;
}

.invalid {
    background-color: rgba(255, 0, 0, 0.2);
}