.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    backdrop-filter: blur(6px);
    background-color: rgba(0,0,0,0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-height: 80vw;
    background-color: #fff;
    z-index: 999;
    border-radius: 10px;
}